<% content_for :title do %>About the Lexigram<% end %>
<h3>About the Art and Science of the Lexigram</h3>
<p>Lexigram comes from two word parts:
  <br />
  <b>Lexi</b> is the word part of the lexicon, the dictionary of words.
  <br />
  <b>-gram</b>, as an ending, means written out in full, or drawn out in full, in explanation.
</p>
<p></p>
<p>We research the art and science of the Lexigram ..
  <br /> &nbsp; We display the axioms of the Lexigram ..
  <br /> &nbsp;&nbsp; We prove its worth ..
  <br /> &nbsp;&nbsp;&nbsp; We do so here :
    <h4>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.goodworksonearth.net">Sequencers</a></h4>
</p>
